# Q.1

In [2]:
import pandas as pd
series=pd.Series([4,8,15,16,23,42])
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

# Q.2

In [5]:
import pandas as pd

my_list = [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
my_series = pd.Series(my_list)
print(my_series)

0     2
1     4
2     6
3     8
4    10
5    12
6    14
7    16
8    18
9    20
dtype: int64

# Q.3

In [7]:
import pandas as pd
df=pd.DataFrame({'Name':['Alice', 'Bob', 'Claire'], 'Age':[25, 30, 27], 'Gender':['Female', 'Male','Female']})
df

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

# Q.4

A DataFrame in Pandas is a two-dimensional labeled data structure consisting of  rows and  columns of potentially different types. It is similar to a spreadsheet or a SQL table, where each column can have a different type (e.g., numeric, string, boolean), and rows are labeled with an index. A DataFrame is a collection of Series objects, where each Series represents a column in the DataFrame.

The main difference between a Series and a DataFrame is that a Series represents a single column of data, while a DataFrame represents multiple columns of data, arranged in a tabular format.

In [8]:
import pandas as pd

# Creating a Pandas Series
my_series = pd.Series([10, 20, 30, 40, 50])

# Creating a Pandas DataFrame
my_dataframe = pd.DataFrame({
    'Name': ['John', 'Jane', 'Bob', 'Alice', 'Mike'],
    'Age': [25, 30, 35, 40, 45],
    'Salary': [50000, 60000, 70000, 80000, 90000]
})

# Printing the Series and DataFrame
print("Pandas Series:\n", my_series)
print("\nPandas DataFrame:\n", my_dataframe)

Pandas Series:
 0    10
1    20
2    30
3    40
4    50
dtype: int64

Pandas DataFrame:
     Name  Age  Salary
0   John   25   50000
1   Jane   30   60000
2    Bob   35   70000
3  Alice   40   80000
4   Mike   45   90000

# Q.5

Some Common function used to manipulate data in dataframe are :

- head() and tail(): to view the first or last n rows of a DataFrame. 
- describe(): to view the statistical summary of the DataFrame 
- drop(): to remove rows or columns from the DataFrame groupby(): to group rows based on a column and apply a function to each group sort_values(): to sort the DataFrame by one or more columns fillna(): to fill missing values in the DataFrame with a specified value or method. Here's an example of when you might use one of these functions. 

Suppose you have a DataFrame containing information about employees in a company, and you want to view the statistical summary of their salaries:

In [9]:
import pandas as pd

employee_data = {
    'Name': ['John', 'Jane', 'Bob', 'Alice', 'Mike'],
    'Age': [25, 30, 35, 40, 45],
    'Salary': [50000, 60000, 70000, 80000, 90000]
}
df = pd.DataFrame(employee_data)

df.describe()

             Age        Salary
count   5.000000      5.000000
mean   35.000000  70000.000000
std     7.905694  15811.388301
min    25.000000  50000.000000
25%    30.000000  60000.000000
50%    35.000000  70000.000000
75%    40.000000  80000.000000
max    45.000000  90000.000000

# Q.6

Among the three data structures provided by Pandas, only the DataFrame and Panel are mutable in nature.

A DataFrame is mutable because you can add, remove or modify columns and rows. Similarly, a Panel is mutable because you can add or remove items along the axis.

On the other hand, a Series is immutable because it represents a single column of data with an index. Once created, you cannot add or remove elements from a Series. However, you can modify the values of existing elements in a Series.

# Q.7

In [10]:
import pandas as pd

# Creating Series for Name, Age and Gender
name = pd.Series(['John', 'Jane', 'Bob', 'Alice', 'Mike'])
age = pd.Series([25, 30, 35, 40, 45])
gender = pd.Series(['Male', 'Female', 'Male', 'Female', 'Male'])

# Creating a DataFrame by passing the Series as arguments
df = pd.DataFrame({'Name': name, 'Age': age, 'Gender': gender})

print(df)

    Name  Age  Gender
0   John   25    Male
1   Jane   30  Female
2    Bob   35    Male
3  Alice   40  Female
4   Mike   45    Male