# Q.1

In [1]:
#The major difference between for loop and while loop is that in the case of for loop the number of iterations is known whereas 
#in the case of the while loop number of iterations is unknown and the statement will run until the condition is proved false.##
#Both for loop and while loop carry different methods of execution and can be useful if they are used as per their merit. If 
#the iterations are known we use for loop and if the iterations are unknown, while loop is used.
#The while loop is used when the initialization is complex and if the initialization is complex, for loop is used.

#For Loop
number=int(input("Enter Number "))
x=number
factorial = 1
for i in range(number,0,-1):
    factorial*=i
print("The factorial of",x,"is",factorial)

Enter Number 6
The factorial of 6 is 720

In [2]:
#While Loop

number=int(input("Enter Number "))
y=number
factorial = 1
while number > 0:
    factorial = factorial*number
    number -= 1
print("The factorial of",y,"is",factorial)

Enter Number 6
The factorial of 6 is 720

# Q.2

In [3]:
#Using For Loop

start=1
end=10
sum=0
product=1
for i in range(start,end+1):
    sum=sum+i
    product=product*i
print("Sum of first 10 Natural Number =",sum)
print("Product of first 10 Natural Number =",product)

Sum of first 10 Natural Number = 55
Product of first 10 Natural Number = 3628800

In [4]:
#Using While Loop

start=1
end=10
sum=0
product=1
while(start<=end):
    sum=sum+start
    product=product*start
    start=start+1
print("Sum of first 10 Natural Number =",sum)
print("Product of first 10 Natural Number =",product)

Sum of first 10 Natural Number = 55
Product of first 10 Natural Number = 3628800

# Q.3

In [5]:
units=int(input("Units Consumed Per Month "))
if units<=100:
    amount=4.5*units
elif units<100 and units<=200:
    amount=100*4.5+(units-100)*6
elif units<200 and units<=300:
    amount=100*4.5+100*6+(units-200)*10
else:
    amount=100*4.5+100*6+100*10+(units-300)*20
print("Total Billed Amount is",amount)

Units Consumed Per Month 310
Total Billed Amount is 2250.0

# Q.4

In [15]:
#By Using For Loop

l1=[]
l2=[]
for i in range(1,101): #Creating list for elements from 1 to 100
    l1.append(i)
for j in l1:
    if (j**3)%4==0 or (j**3)%5==0:
        l2.append(j**3)
print("The new list of cubes divisible by 4 or 5 is:\n\n",l2)

The new list of cube divisible by 4 or 5 is:

 [8, 64, 125, 216, 512, 1000, 1728, 2744, 3375, 4096, 5832, 8000, 10648, 13824, 15625, 17576, 21952, 27000, 32768, 39304, 42875, 46656, 54872, 64000, 74088, 85184, 91125, 97336, 110592, 125000, 140608, 157464, 166375, 175616, 195112, 216000, 238328, 262144, 274625, 287496, 314432, 343000, 373248, 405224, 421875, 438976, 474552, 512000, 551368, 592704, 614125, 636056, 681472, 729000, 778688, 830584, 857375, 884736, 941192, 1000000]

In [16]:
#By Using while Loop

l1=[]
l2=[]
i=1
while(i<=100):
    l1.append(i)
    if (i**3)%4==0 or (i**3)%5==0:
        l2.append(i**3)
    i+=1
print("The new list of cubes divisible by 4 or 5 is:\n\n",l2)

The new list of cube divisible by 4 or 5 is:

 [8, 64, 125, 216, 512, 1000, 1728, 2744, 3375, 4096, 5832, 8000, 10648, 13824, 15625, 17576, 21952, 27000, 32768, 39304, 42875, 46656, 54872, 64000, 74088, 85184, 91125, 97336, 110592, 125000, 140608, 157464, 166375, 175616, 195112, 216000, 238328, 262144, 274625, 287496, 314432, 343000, 373248, 405224, 421875, 438976, 474552, 512000, 551368, 592704, 614125, 636056, 681472, 729000, 778688, 830584, 857375, 884736, 941192, 1000000]

# Q.5

In [40]:
string="I want to become a data scientist"
vowels="aeiou"
count=0
for char in s.lower():
    if char in vowels:
        count+=1
print("The number of vowels in the given string is:",count)

The number of vowels in the given string is: 12