# Q.1

read_csv(): This function is used to read a CSV file and create a DataFrame object.

head(): This function is used to display the first 'n' rows of a DataFrame.

tail():This function is used to display the last 'n' rows of dataframe.

fillna(): This function is used to replace missing values (NaN) in a DataFrame with a specified value.

describe(): It gives the statistical summary of the numerical data.

# Q.2

In [1]:
import pandas as pd

def re_index(df):
    new_index = pd.RangeIndex(start=1, step=2, stop=len(df)*2)
    return df.re_index(new_index)

# Q.3

In [12]:
import pandas as pd

def sum_first3(df):
    sum=0
    for i in range(3):
        sum=sum+df['Values'][i]
    print("Sum of first three values is ",sum)

df=pd.DataFrame({'Values':[10,20,30,40,50,60]})
sum_first3(df)

Sum of first three values is  60

6

# Q.4

In [52]:
import pandas as pd

def new_col(df):
    df['Word_Count']=0
    for i in range(len(df)):
        df['Word_Count'][i]=len(df['Text'][i])
    return df
df=pd.DataFrame({'Text':["pwskills","data","science","masters","assignment"]})
new_col(df)

C:\Users\ASUS\AppData\Local\Temp\ipykernel_6856\506355305.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Word_Count'][i]=len(df['Text'][i])

         Text  Word_Count
0    pwskills           8
1        data           4
2     science           7
3     masters           7
4  assignment          10

# Q.5

- DataFrame.size(): This attribute returns the product of the number of rows and number of columns.For example, if a dataframe has 3 rows and 6 columns then it would return it as 18.


- DataFrame.shape(): This attribute returns the number of rows and the number of columns returned in the form of tuple.For example, if a dataframe has 3 rows and 6 columns then it would return as (3,6).

# Q.6

read_excel() function is used to read an excel file.

# Q.7

In [65]:
import pandas as pd

def get_username(df):
    df['Username']=df['Email'].str.split('@').str[0]
    return df
df=pd.DataFrame()
df['Email']=['username@domain.com','pwskills@co.in']
get_username(df)

                 Email  Username
0  username@domain.com  username
1       pwskills@co.in  pwskills

# Q.8

In [77]:
import pandas as pd
def get_rows(df):
    selected_rows=(df['A']>5) & (df['B']<10)
    return df[selected_rows]
df=pd.DataFrame({'A': [3, 8, 6, 2, 9], 'B': [5, 2, 9, 3, 1], 'C': [1, 7, 4, 5, 2]})
get_rows(df)

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

# Q.9

In [79]:
import pandas as pd

def stats(df):
    mean = df['Values'].mean()
    median = df['Values'].median()
    std = df['Values'].std()
    return mean, median, std
df = pd.DataFrame()
df['Values']= [10, 20, 30, 40, 50]
mean,median,std=stats(df)
print("Mean:",str(mean)+ ", Median:",str(median)+ ", Standard deviation:",str(std))

Mean: 30.0, Median: 30.0, Standard deviation: 15.811388300841896

# Q.10

In [81]:
import pandas as pd

def get_moving_average(df):
    moving_sales=df['Sales'].rolling(window=7)
    moving_avg=moving_sales.mean()
    df['MovingAverage']=moving_avg
    
    return df

# Q.11

In [98]:
import pandas as pd
def week_day(df):
    df['Date'] = pd.to_datetime(df['Date'])
    df['Weekday'] = df['Date'].dt.day_name()
    return df
    
def main():
    df = pd.DataFrame({'Date': ['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04', '2023-01-05']})
    df=week_day(df)
    print(df)

if __name__ == '__main__':
    main()

        Date    Weekday
0 2023-01-01     Sunday
1 2023-01-02     Monday
2 2023-01-03    Tuesday
3 2023-01-04  Wednesday
4 2023-01-05   Thursday

# Q.12

In [3]:
import pandas as pd

def select_january_dates(df):
    df['Date'] = pd.to_datetime(df['Date'])
    start_date = '2023-01-01'
    end_date = '2023-01-31'
    jan_date = (df['Date'] >= start_date) & (df['Date'] <= end_date)
    return df[jan_date]

def main():
    df = pd.DataFrame({'Date': ['2022-12-1', '2023-01-01', '2023-01-15', '2023-01-31', '2023-02-17']})
    print("Original DataFrame:")
    print(df)
    df = select_january_dates(df)
    print("\nDataFrame with January dates only:")
    print(df)

if __name__ == '__main__':
    main()

Original DataFrame:
         Date
0   2022-12-1
1  2023-01-01
2  2023-01-15
3  2023-01-31
4  2023-02-17

DataFrame with January dates only:
        Date
1 2023-01-01
2 2023-01-15
3 2023-01-31

# Q.13

To use the basic functions of pandas we need to import the pandas library as:

import pandas as pd